/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5cb85c;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

/* Layout do Main */
main {
    display: flex;
    height: calc(100vh - 60px); /* Subtraindo o tamanho do header */
}

/* Sidebar dos Usuários */
#sidebar {
    flex-basis: 200px;
    padding: 10px;
    background-color: #f3f4f6;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

#sidebar h3 {
    margin-top: 0;
}

/* Seção de Chat */
#chat-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#chat-header {
    background-color: #5cb85c;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.chat-content {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #fff;
}

/* Formulário de Enviar Mensagens */
form {
    display: flex;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
}

form input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}

/* Sidebar dos Grupos */
#groups {
    flex-basis: 200px;
    padding: 10px;
    background-color: #f3f4f6;
    border-left: 1px solid #ccc;
    overflow-y: auto;
}

#groups h3 {
    margin-top: 0;
}

#user-list li:hover {
    background-color: #91ff91; /* Altera a cor de fundo ao passar o mouse */
}

#group-list li:hover {
    background-color: #91ff91; /* Altera a cor de fundo ao passar o mouse */
}


#clients {
    flex-basis: 200px;
    padding: 10px;
    background-color: #f3f4f6;
    border-left: 1px solid #ccc;
    overflow-y: auto;
}

#clients h3 {
    margin-top: 0;
}

#client-list li:hover {
    background-color: #91ff91; /* Altera a cor de fundo ao passar o mouse */
}